.background_image {
    background-image: url(https://andrey1303110.github.io/beetroot-css2/imges/background-main.png);
    background-repeat: no-repeat;
    height: 300px;
    width: 1240px;
    margin-top: 8em;
    margin-left: -4em;
}
span>div {
    display: inline-block;
}

.sect1 {
    width: 200px;
    height: 400px;
    margin-left: 24.5em;

}

.sect2 {
    width: 200px;
    height: 400px;
    margin-left: 2.4em;
    margin-right: 2.4em;
}

.sect3 {
    width: 200px;
    height: 400px;
}

.text1 {
    font-size: 10pt;
    text-align: center;
    color: slategray;
    display: inline-table;
    margin-top: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.text2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    font-size: 11pt;
    }

#upperimg {
    display: inline-flex;
    margin-top: 3em;
}

.img1 {
    background-image: url(imges/tab.png);
    height: 66px;
    width: 67px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 28.79em;
    border-radius: 50%;
    border: 1px solid #0178c7a4;
}

.img1:hover {
    border-radius: 50%;
    border: 1px solid #0178c7a4;
    background-color: #0178c7a4;
    
}

.img2 {
    background-image: url(/imges/setting.png);
    height: 67px;
    width: 67px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 10.7em;
    margin-right: 10.7em;
    border-radius: 50%;
    border: 1px solid #0178c7a4;
}

.img2:hover {
    border-radius: 50%;
    background-color: #0178c7a4;
}

.img3 {
    background-image: url(/imges/dashboard.png);
    height: 67px;
    width: 67px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50% 5px solid #0178c7a4;
    border-radius: 50%;
    border: 1px solid #0178c7a4;
    }

.img3:hover {
    border-radius: 50%;
    background-color: #0178c7a4;
}

#sect1 #sect2 #sect3 {
    display: inline-flexbox;
}
